<% content_for(:title, "Edit a Lesson | Kite Academy") %>

<%= render('layouts/errors', :object => @lesson) %>

<h1>Edit "<%= @lesson.name %>" Lesson</h1>

<form action="/lessons" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('lessons/form') %>
  <button>Edit Lesson</button>
</form>

<p><a href="lessons">Home</a></p>
