<% content_for(:title, "Lessons | Kite Academy") %>

<h2>Lessons</h2>

<ul>
  <% @lessons.each do |lesson| %>
    <li><a href="lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
  <% end %>
</ul>

<p>
  <button class="btn btn-primary">
    <a href="lessons/new">Add Lesson</a>
  </button>
</p>
