<% content_for(:title, "Lessons | Kite Academy") %>

<h2>Lessons</h2>

<ul>
  <% @lessons.each do |lesson| %>
    <li><a href="lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
  <% end %>
</ul>

<p>
  <a href="lessons/new">
    <button class="btn btn-default btn-lg">Add Lesson</button></a>
</p>

<%= render('layouts/home') %>
