<% content_for(:title, "Add a Lesson | Kite Academy") %>

<%= render('layouts/errors', :object => @lesson) %>

<h2>Add a Lesson</h2>

<form action="/lessons" method="post">
  <%= render('lessons/form') %>
  <button class="btn btn-primary">Add Lesson</button>
</form>

<%= render('layouts/home') %>
