<% content_for(:title, "Add a Lesson | Kite Academy") %>

<h1>Add a Lesson</h1>

<form action="/lessons" method="post">
  <%= render('lessons/form') %>
  <button>Add Lesson</button>
</form>

<p><a href="lessons">Home</a></p>
