<div class="form-group">
  <label for="level_name">Name:</label>
  <input class="form-control" id="level_name" name="level[name]" type="text" placeholder="Kite Handling" value="<%= @level.name %>">
</div>
