<% content_for(:title, "Kite Academy") %>

<h2>Our skill levels and lessons are as follows:</h2>

<ul>
  <% @levels.each do |level| %>
    <li>
      <a href="levels/<%= level.id %>"><%= level.name %></a><br>
        <ul>
          <% level.lessons.each do |lesson| %>
          <li id="lesson_names">
            <a href="lessons/<%= lesson.id %>"><%= lesson.name %></a>
          </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>

<p>
  <a href="levels/new">
    <button class="btn btn-primary">Add Level</button>
  </a>
</p>
