<% content_for(:title, "Kite Academy") %>

<h1>Welcome to Kite Academy</h1>
<h2>Where you, too, can be a kiteboarder!</h2>

<h3>Our skill levels are as follows:</h3>

<ul>
  <% @levels.each do |level| %>
    <li><a href="levels/<%= level.id %>"><%= level.name %></a></li>
  <% end %>
</ul>

<p><a href="levels/new">Add Level</a></p>
