<% content_for(:title, "Add a Level | Kite Academy") %>

<%= render('layouts/errors', :object => @level) %>

<h2>Add a Level</h2>

<form role="form" action="/levels" method="post">
  <div class="form-group">
    <%= render('levels/form') %>
  </div>
  <button class="btn btn-primary">Add level</button>
</form>

<%= render('layouts/home') %>
