<% content_for(:title, "#{@level.name} | Kite Academy") %>

<h2><%= @level.name %></h2>

<p>
  <button class="btn btn-info">
    <a href="/levels/<%= @level.id %>/edit">Edit Level</a>
  </button>

  <button class="btn btn-warning">
    <a href="/levels/<%= @level.id %>/destroy" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete Level</a>
  </button>
</p>

<p><a href="/levels">Home</a></p>
