h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 8em;
  font-weight: bold;
  margin: 30px;
  color: #EDD8B4;
}

.header {
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

body {
  background: #8831f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #8831f9 0%, #2b69e5 53%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8831f9), color-stop(53%,#2b69e5), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8831f9 0%,#2b69e5 53%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8831f9 0%,#2b69e5 53%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8831f9 0%,#2b69e5 53%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #8831f9 0%,#2b69e5 53%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8831f9', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  height: 100%;
  margin-bottom: 30%;
  margin-top: 0;
  color: #F7E6C8;
  font-family: 'Shadows Into Light', cursive;
}

a {
  color: #F7E6C8;
}

a:hover {
  text-decoration: none;
  color: #8C8373;
}

h2 {
  margin-bottom: 20px;
}

input {
  margin-left: 20px;
}

button {
  margin-top: 30px;
}

input {
  margin: 20px;
}

textarea {
  margin: 20px;
}

select {
  margin: 20px 0 0 20px;
}




