h1 {
  font-family: arial;
}

.jumbotron {
  background-color: lightblue;
}

h2 {
  margin-bottom: 20px;
}

input {
  margin-left: 20px;
}

button {
  margin-top: 30px;
}

input {
  margin: 20px;
}

textarea {
  margin: 20px;
}

select {
  margin: 20px 0 0 20px;
}
